<main class="main">
    <section class="features">
        <div class="container">
            <div class="features_wrap">
            <!-- /.features_wrap -->
            <div class="features_cards"> 
                <div class="features_card"> 
                        <div class="features_card_image envelop"> 

                        </div>
                        <!-- /.features_card_image -->
                        <div class="features_card_about">
                            <p> 
                                GET A CUSTOMIZED
                                EMAIL ADDRESS AND MORE
                            </p>
                        </div>
                        <div class="features_card_description">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </span>

                            <!-- /.features_card_description -->
                        </div>
                        <!-- /.features_card_about -->
                        <button class="button-submit features_card_link">
                            <span></span>
                            Learn more
                        </button> <!-- /.features_card_link -->
                    </div>
                <!-- /.features_card -->
                <div class="features_card"> 
                    <div class="features_card_image edit"> 

                    </div>
                    <!-- /.features_card_image -->
                    <div class="features_card_about">
                        <p> 
                            40 MILLION HIGH
QUALITY IMAGES
                        </p>
                    </div>
                    <div class="features_card_description">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </span>
                        
                        <!-- /.features_card_description -->
                    </div>
                    <!-- /.features_card_about -->
                    <a href="javascript:void(0)" class="features_card_link">
                        Learn more
                    </a> <!-- /.features_card_link -->
                </div>
                <!-- /.features_card -->
                <div class="features_card"> 
                    <div class="features_card_image card"> 

                    </div>
                    <!-- /.features_card_image -->
                    <div class="features_card_about">
                        <p> 
                            CREATE A SIMPLE LOGO  
                          WITH OUR TEAM
                        </p>
                        
                    </div>
                    <div class="features_card_description">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        </span>
                        
                    </div>
                    <!-- /.features_card_about -->
                    <a href="javascript:void(0)" class="features_card_link">
                        Get Started
                    </a> <!-- /.features_card_link -->
                </div>
                <!-- /.features_card -->
            </div>
            <!-- /.features_cards -->
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.features -->
    <section class="purposes">
        <div class="purposes-background">
        <!-- /.purposes-background -->
        <div id="particles-js">
            
        </div>
    </div>
        <!-- /#particles-js -->
        <div class="container">
            <div class="purposes_wrap">
                    <div class="purposes_wrap_header">

                    </div>
                    <div class="purposes_wrap_body">
                        <div class="purposes_wrap_body_cards"> 
                            <div class="purposes_card ">
                                <div class="purposes_card_header">
                                    <div class="purposes_card_img menu"> </div>
                                    <!-- /.purposes_card_img -->
                                    <div class="purposes_card_title backpack"></div>
                                    <!-- /.purposes_card_title -->
                                </div> 
                                <div class="purposes_card_description"> 
                                    <p class="purpose_card_subtitle"> </p>
<!-- /.purposes_card_description -->
                                </div>
                                
                                <!-- /.purposes_card_header -->
                            </div>
                            <!-- /.purposes_card -->
                            <div class="purposes_card ">
                                <div class="purposes_card_header">
                                    <div class="purposes_card_img edit"></div>
                                    <!-- /.purposes_card_img -->
                                    <div class="purposes_card_title"></div>
                                    <!-- /.purposes_card_title -->
                                </div> 
                                <div class="purposes_card_description"> 
                                    <p class="purpose_card_subtitle"> </p>
<!-- /.purposes_card_description -->
                                </div>
                                
                                <!-- /.purposes_card_header -->
                            </div>

                            <div class="purposes_card ">
                                <div class="purposes_card_header">
                                    <div class="purposes_card_img"></div>
                                    <!-- /.purposes_card_img -->
                                    <div class="purposes_card_title"></div>
                                    <!-- /.purposes_card_title -->
                                </div> 
                                <div class="purposes_card_description"> 
                                    <p class="purpose_card_subtitle"> </p>
<!-- /.purposes_card_description -->
                                </div>
                                
                                <!-- /.purposes_card_header -->
                            </div>
                            <!-- /.purposes_card -->
                        </div>
                        <!-- /.purposes_wrap_body_card -->
                    </div>
                    <!-- /.purposes_wrap_body -->
                    <!-- /.purposes_wrap_header -->
            </div>
            <!-- /.purposes_wrap -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.purposes -->
</main>
<!-- /.main -->