<main class="main">
    <section class="features">
        <div class="container">
            <div class="features_wrap">
            <!-- /.features_wrap -->
            <div class="features_cards"> 
                <div class="features_card"> 
                        <div class="features_card_image envelop"> 

                        </div>
                        <!-- /.features_card_image -->
                        <div class="features_card_about">
                            <p> 
                                GET A CUSTOMIZED
                                EMAIL ADDRESS AND MORE
                            </p>
                        </div>
                        <div class="features_card_description">
                            <span>
                                Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
                            </span>

                            <!-- /.features_card_description -->
                        </div>
                        <!-- /.features_card_about -->
                        <a href="javascript:void(0)" class="features_card_link">
                            Learn more
                        </a> <!-- /.features_card_link -->
                    </div>
                <!-- /.features_card -->
                <div class="features_card"> 
                    <div class="features_card_image edit"> 

                    </div>
                    <!-- /.features_card_image -->
                    <div class="features_card_about">
                        <p> 
                            40 MILLION HIGH
QUALITY IMAGES
                        </p>
                    </div>
                    <div class="features_card_description">
                        <span>
                            At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.
                        </span>
                        
                        <!-- /.features_card_description -->
                    </div>
                    <!-- /.features_card_about -->
                    <a href="javascript:void(0)" class="features_card_link">
                        Learn more
                    </a> <!-- /.features_card_link -->
                </div>
                <!-- /.features_card -->
                <div class="features_card"> 
                    <div class="features_card_image card"> 

                    </div>
                    <!-- /.features_card_image -->
                    <div class="features_card_about">
                        <p> 
                            CREATE A SIMPLE LOGO
                        </p>
                    </div>
                    <div class="features_card_description">
                        <span>
                            She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.
                        </span>
                        
                    </div>
                    <!-- /.features_card_about -->
                    <a href="javascript:void(0)" class="features_card_link">
                        Get Started
                    </a> <!-- /.features_card_link -->
                </div>
                <!-- /.features_card -->
            </div>
            <!-- /.features_cards -->
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.features -->
</main>
<!-- /.main -->